*  {
	margin:0;
	padding:0;
}

html, body {height:100%;}

.geral {
	min-height:100%;
	position:relative;
	width:100%;
}

body, .ui.header{
	font-family: 'Exo 2', sans-serif;
}

.span{

	font-size: 1.5em;
	margin-left: 1.5em;
	padding: 0.2em;
}

footer {

	background-color: #e1e1e1;
	position:absolute;
	bottom:0;
	width:100%;
	left: 16px;
}