{% extends "rango/base.html" %}
{% load static %}

{% block title %} Sobre {% endblock %}

{% block content %}

		<div class="ui grid">

   		<div class="one column row">

   			<div class="column">

   				<div class="ui teal segment">

   					<h1 class="ui dividing header">
					  Sobre
					  	<p class="sub header">
					  		{% if user.is_authenticated %}
								<a href="{% url 'home' %}"> &laquo; voltar para a página inicial</a>
							{% else %}
								<a href="{% url 'index' %}"> &laquo; voltar para a página inicial</a>
							{% endif %}
						</p>
					</h1>

					<div class="ui stackable grid">
					
						<div class="eight wide column">
					    

							<div class="ui card">
							  <div class="image">
							    <img class="ui huge image" src="{% static 'rango/packaged/definitions/img/rango_about.jpg' %}" title="Rango, o camaleão">
							  </div>
							  <div class="content">
							    <a class="header">Rango, o camaleão</a>
							    <div class="meta">
							      <span class="date">Lançado em 2011</span>
							    </div>
							    <div class="description">
							      A história da aventura de Rango, um camaleão de cativeiro que vive uma normal vida de animal de estimação, enquanto enfrenta uma enorme crise de identidade.
							    </div>
							  </div>
							  <div class="extra content">
							    <a>
							      Classificação:
							      <i class="star yellow icon"></i>
							      <i class="star yellow icon"></i>
							      <i class="star yellow icon"></i>
							    </a>
   
								</div>
							</div>

						</div>

					  	<div class="eight wide column">
					    
					  	</div>

					 </div>

   				</div>

   			</div>

   		</div>

   	</div>

{% endblock %}