{% extends "rango/base.html" %}

{% block title %} Adicionar página {% endblock %}

{% block content %}

		<div class="ui grid">

   		<div class="one column row">

   			<div class="column">

   				<div class="ui teal segment">

   					<h1 class="ui dividing header">
					  Adicionar página
					  <p class="sub header">Adicione páginas relacionadas a categoria escolhida. <br/><a href="{% url 'home' %}"> &laquo; voltar para a página inicial</a>.</p>
					</h1>

					<div class="ui stackable grid">
					
						<div class="eight wide column">
					    
							<form class="ui form" id="page_form" method="post" action="/rango/category/{{ category_name_url }}/add_page/">

								{% csrf_token %}
								{% for hidden in form.hidden_fields %}
									{{ hidden }}
								{% endfor %}

								{% for field in form.visible_fields %}
									{{ field.errors }}
									{{ field }} <br/><br/>
								{% endfor %}

								<div class="ui divider"></div>
								
								<button type="submit" name="submit" class="ui labeled blue icon button">
								  <i class="checkmark icon"></i>
								  Adicionar página
								</button>

							</form>


					  	</div>

					  	<div class="eight wide column">
					    
					  	</div>
					 </div>

   				</div>

   			</div>

   		</div>

   	</div>

{% endblock %}