{% extends "rango/base.html" %}

{% block title %} Adicionar categoria {% endblock %}

{% block content %}

	<div class="ui grid">

   		<div class="one column row">

   			<div class="column">
					    	
   				<div class="ui teal segment">

   					<h1 class="ui dividing header">
					  Adicionar categoria
					  <p class="sub header">Deseja adicionar uma nova categoria? That's the place! <br/><a href="{% url 'home' %}"> &laquo; voltar para a página inicial</a>.</p>
					</h1>

					<div class="ui stackable grid">
					
						<div class="eight wide column">
					    	
					    	<form class="ui form" id="category_form" method="post" action="/rango/add_category/">

								{% csrf_token %}
								{% for hidden in form.hidden_fields %}
									{{ hidden }}
								{% endfor %}

								{% for field in form.visible_fields %}
									{{ field.errors }}
									{{ field }}
								{% endfor %}

								<div class="ui divider"></div>

								<button type="submit" name="submit" class="ui labeled blue icon button">
								  <i class="plus icon"></i>
								  Adicionar categoria
								</button>

							</form>


					  	</div>

					  	<div class="eight wide column">
					    
					  	</div>
					 </div>

   				</div>

   			</div>

   		</div>

   	</div>

{% endblock %}