<!DOCTYPE html>

{% load static %}

<html>

	<head lang="pt-br">
	    <meta charset="UTF-8">
	    <title> {% block title %} {% endblock %} </title>
	    
	    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
	    <link href="{% static 'rango/packaged/definitions/css/semantic.min.css' %}" rel="stylesheet">
	    <link href="{% static 'rango/packaged/definitions/css/estilo.css' %}" rel="stylesheet">
	</head>

	<body>

	<div class="geral">

		<div class="ui stackable grid">
			<div class="row">
				<div class="sixteen wide column">

					<div class="ui inverted menu">

						{% if user.is_authenticated %}
							<a href="{% url 'home' %}" class="header item">Rango</a>
						{% else %}
							<a href="{% url 'index' %}" class="header item">Rango</a>
						{% endif %}

						{% if user.is_authenticated %}
							<a href="{% url 'restricted' %}" class="item"><i class="lock icon"></i>Restricted</a>
				  			<a href="{% url 'add_category' %}" class="item"><i class="add icon"></i>Add Category</a>
						{% endif %}

						<a href="{% url 'about' %}" class="item"><i class="info circle icon"></i>About</a>

						<div class="right menu">
							{% if user.is_authenticated %}
						  		<a class="item">Bem vindo(a), {{user.username}} !</a>
						  		<a href="{% url 'profile' %}" class="item"><i class="user icon"></i>Perfil</a>
						  		<a href="{% url 'logout' %}" class="item"><i class="sign out icon"></i>Logout</a>
						  	{% else %}
						  		<a href="{% url 'register' %}" class="item"><i class="chevron circle right icon"></i>Register</a>
						  		<a href="{% url 'login' %}" class="item"><i class="sign in icon"></i>Login</a>
							{% endif %}
						</div>
					</div>

				</div>
			</div>
		</div>

		
		<div class="ui stackable padded grid">
			<div class="row">
				<div class="four wide column">

					<div class="ui tertiary segment">

						{% block sidebar %}
			            {% endblock %}
			           
			           <div id="cats">
			               {% if cat_list %}
			                   {% include 'rango/category_list.html' with cat_list=cat_list %}
			               {% endif %}
			            </div>			   

					</div>

				</div>

				<div class="twelve wide column">

					{% block content %}
	
					{% endblock %}

				</div>
			</div>
		</div>

		<footer class="ui center aligned grid" id="footer">
	
			<div class="row">
				<div class="sixteen wide column">


					<p>&copy; <b>Rango: How to Tango with Django 2014</b></p>

				</div>
			</div>
		</footer>

	</div>

		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	    <script src="{% static 'rango/packaged/definitions/javascript/semantic.min.js' %}"></script>
	    <script src="{% static 'rango/packaged/definitions/javascript/script.js' %}"></script>

	</body>

</html>
