{% extends "rango/base.html" %}

{% block title %} Categoria | {{category_name}} {% endblock %}

{% block content %}

		<div class="ui stackable grid">

   		<div class="one column row">

   			<div class="column">

   				<div class="ui teal segment">

   					<h1 class="ui dividing header">
					  {{ category_name }}
					  	<p class="sub header">
					  		{% if user.is_authenticated %}
								<a href="{% url 'home' %}"> &laquo; voltar para a página inicial</a>
							{% else %}
								<a href="{% url 'index' %}"> &laquo; voltar para a página inicial</a>
							{% endif %}
						</p>
					</h1>

					<div class="ui stackable grid">
					
						<div class="eight wide column">
					    
							{% if category %}
								{% if pages %}
									<table class="ui table">
										<thead>
											<tr>
												<th>Título</th>
											</tr>
										</thead>
										<tbody>
									{% for page in pages %}
										<tr>
											<td><a href="/rango/goto/?page_id={{page.id}}">{{ page.title }}</a></td>
										</tr>
									{% endfor %}
										</tbody>
									</table>
									{% if user.is_authenticated %}

										<div class="ui divider"></div>

										<a class="ui labeled icon blue button" href="/rango/category/{{ category_name_url }}/add_page"> <i class="plus icon"></i> Adiciona uma Página</a>

									{% endif %}
								{% else %}

									<div class="ui negative message">
							            <div class="header">
							              Aviso:
							            </div>
							            <p>Não existem páginas cadastradas!</p>
							          </div>

									{% if user.is_authenticated %}

										<div class="ui divider"></div>
										<a class="ui labeled icon blue button" href="/rango/category/{{ category_name_url }}/add_page"> <i class="plus icon"></i> Adiciona uma Página</a>

									{% endif %}

								{% endif %}
							{% else %}
								<div class="ui tertiary segment">
									<label class="ui red ribbon label"> A categoria <b>{{ category_name }}</b> ainda não existe. </label>
									<h3 class="ui header"> 
										Deseja criá-la ?
										<p class="sub header"> Ajude-nos a melhorar o site e siga <a href="{% url 'add_category' %}"> este link </a> :)</p>
									</h3>
								</div>
								
							{% endif %}

					  	</div>

					  	<div class="eight wide column">
					    
					  	</div>

					 </div>

   				</div>

   			</div>

   		</div>

   	</div>


{% endblock %}
