<h1 class="ui dividing header"> Categorias </h1>

<div class="ui animated relaxed list">
    
    {% if cat_list %}
        {% for cat in cat_list %}
            <div class="item">
                <div class="header">
                    <a href={% url 'category' cat.url %}>{{ cat.name }}</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="item">
            <div class="header">
                Não existem categorias no momento.
            </div>
        </div>
    {% endif %}
</div>