{% extends "rango/base.html" %}

{% block title %} Bem vindo - {{user.username}} {% endblock %}

{% block content %}

	
	<div class="ui teal tertiary segment">
		    <h1 class="ui huge header">
		    	Rango says .. <p class="span">Hello {{ user.username }}! {{context}}</p> 
		    </h1>
	</div>

	<div class="ui stackable grid">

			<div class="row">

				<div class="eight wide column">

					<h1>Top 5 categorias com mais likes</h1>

						{% if categories %}

							<ul>

								{% for category in categories %}
									<p><i class="asterisk icon"></i><a href="/rango/category/{{ category.url }}">{{ category.name }}</a>
										{% if category.likes > 1 %}
						                   ({{ category.likes }} likes)
						               	{% elif category.likes == 1%}
						                  ({{ category.likes }} like)
						                {% endif %}
									</p>
								{% endfor %}

							</ul>

						{% else %}
							<strong> Não existem categorias registradas.</strong>			
						{% endif %}		

				</div>

				<div class="eight wide column">

					<h1>Top 5 páginas com mais views</h1>

						{% if pages %}

							<ul>
								{% for page in pages %}
									<p><i class="asterisk icon"></i><a href="/rango/goto/?page_id={{page.id}}">{{ page.title }}</a> 
										{% if page.views > 1 %}
							                ({{ page.views }} views)
							            {% elif page.views == 1 %}
											Add a comment to this line
							                ({{ page.views }} view)
							            {% endif %}
									</p>
								{% endfor %}
							</ul>

						{% else %}

							<strong> Não existem páginas registradas.</strong>

						{% endif %}	

				</div>

			</div>

		</div>

{% endblock %}