{% extends "rango/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

	{% if user.is_authenticated %}
		<div class="ui negative message">
			<i class="close icon"></i>
			<div class="header">
					Erro!
			</div>
			<p>O usuário já está logado. Por favor, vá para a <a href="{% url 'home' %}">página inicial</a> ou tente outro link.</p>
		</div>
	{% else %}

		<div class="ui stackable grid">

   		<div class="one column row">

   			<div class="column">

   				<div class="ui teal segment">

   					<h1 class="ui dividing header">
					  Login
					  <p class="sub header">Faça login para continuar.</p>
					</h1>

					<div class="ui stackable grid">
					
						<div class="eight wide column">

							{% if msg_erro %}

					          <div class="ui negative message">
					            <i class="close icon"></i>
					            <div class="header">
					              Erro!
					            </div>
					            <p>{{msg_erro}}</p>
					          </div>
					              
					        {% endif %}
					    	
					    	<form class="ui form" id="login_form" method="post" action="/rango/login/">

					            {% csrf_token %}

					           <div class="required field">
									<label>Username</label>
									<div class="ui icon input">
										<input type="text" name="username" placeholder="Informe seu username" type="text" autofocus>
										<i class="user icon"></i>
									</div>
								</div>
								<div class="required field">
									<label>Password</label>
									<div class="ui icon input">
										<input type="password" name="password" placeholder="Informe sua senha" type="text">
										<i class="lock icon"></i>
									</div>
								</div>

								<button type="submit" class="ui labeled blue icon button">
								  <i class="checkmark icon"></i>
								  Enviar
								</button>
					        </form>

					  	</div>

					  	<div class="eight wide column">
					    
					  	</div>
					 </div>

   				</div>

   			</div>

   		</div>

   	</div>
		
	{% endif %}

{% endblock %}