{% extends "rango/base.html" %}

{% block title %} Perfil {% endblock %}

{% block content %}

<div class="ui grid">

   		<div class="one column row">

   			<div class="column">

   				<div class="ui teal segment">

   					<h1 class="ui dividing header">
					  Perfil
					  	<p class="sub header">
							<a href="{% url 'home' %}"> &laquo; voltar para a página inicial</a>
						</p>
					</h1>

					<div class="ui stackable grid">
					
						<div class="eight wide column">
					    	
					    	<h3 class="ui header">
					    		Username
					    		<p class="sub header"> {{ user.username }} </p>
					    	</h3>

					    	<h3 class="ui header">
					    		Email
					    		<p class="sub header"> {{ user.email }} </p>
					    	</h3>

					    	{% if user_profile %}
						        
						        <h3 class="ui header">
						    		Website
						    		<p class="sub header"> <a href="{{ user_profile.website }}">{{ user_profile.website }}</a> </p>
						    	</h3>
						      
						        {% if user_profile.picture %}
						        	<h3 class="ui header">
							    		Avatar
							    	</h3>
							    	<div class="ui card">
							    		<div class="image">
						            		<img src="{{ user_profile.picture.url }}" title="Foto de {{user.username}}"/>
									  	</div>
									</div>
						        {% endif %}

						    {% endif %}

						</div>

					  	<div class="eight wide column">
					    
					  	</div>

					 </div>

   				</div>

   			</div>

   		</div>

   	</div>
{% endblock %}