{% extends "rango/base.html" %}

{% block title %} Registre-se! {% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                    Erro!
            </div>
            <p>A página não pode ser exibida. Por favor, vá para a <a href="{% url 'home' %}">página inicial</a> ou tente outro link.</p>
        </div>
    {% else %}

        <div class="ui stackable grid">

        <div class="one column row">

            <div class="column">

                <div class="ui teal segment">

                    {% if registered %}

                        <div class="ui info message">
                        
                        <div class="header">
                            Obrigada por se registrar! 
                        </div>
                        <p></p>
                        </div>
                                  
                    {% else %}

                    <h1 class="ui dividing header">
                      Registro
                      <p class="sub header">Registre-se e mantenha-se informado! <a href="{% url 'index' %}"> &laquo; voltar para a página inicial</a>.</p>
                    </h1>

                    <div class="ui stackable grid">
                    
                        <div class="eight wide column">   
                            
                            <form class="ui form" id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">

                                {% csrf_token %}

                                {{ user_form.as_p }}
                                {{ profile_form.as_p }}
                                
                                <button type="submit" class="ui labeled blue icon button">
                                  <i class="plus icon"></i>
                                  Registrar
                                </button>

                            </form>

                    {% endif %}

                        </div>

                        <div class="eight wide column">
                        
                        </div>
                     </div>

                </div>

            </div>

        </div>

    </div>

    {% endif %}

{% endblock %}