{% extends "rango/base.html" %}

{% block title %} Registre-se! {% endblock %}

{% block content %}

    <div class="ui stackable grid">

        <div class="one column row">

            <div class="column">

                <div class="ui icon green message">
                    <i class="warning sign icon"></i>
                    <div class="content">
                        <div class="header">
                          Aviso:
                        </div>
                        <p>{{mensagem}}</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}